@import url("https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(86, 106, 103);
}

.container {
  width: 500px;
  /* border: 2px solid red; */
  margin: auto;
  padding: 1.6rem;
  margin-top: 1rem;
  background-color: rgba(251, 250, 250, 0.537);
  border-radius: 2rem;
  font-family: "Roboto", sans-serif;
}

.box {
  display: flex;
  margin-bottom: 1rem;
}

.text {
  color: rgba(0, 0, 0, 0.755);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.3rem 0.6rem;
  /* border: 2px solid red; */
}

.top {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

img {
  width: 160px;
  height: 200px;
  border-radius: 1rem;
}

.quantity-control {
  display: flex;
  border: 1px solid rgb(151, 135, 135);
  justify-content: space-between;
  padding: 0.7rem;
  align-items: center;
  width: 200px;
}

strong {
  color: rgb(174, 117, 12);
  font-size: 19px;
}

i {
  border: 1px solid;
  padding: 0.3rem;
  border-radius: 4px;
  background-color: rgba(78, 32, 32, 0.092);
}
i:hover {
  transform: scale(0.95);
  background-color: rgb(174, 117, 12);
}

.remove {
  padding: 0.3rem;
  background-color: rgb(126, 75, 133);
  border: none;
  color: white;
  border-radius: 4px;
}
button:hover {
  transform: scale(1.1);
  opacity: 0.8;
}

.product-total {
  font-weight: 500;
  font-size: 17px;
}

/* bottom */
.detail {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid rgba(0, 0, 0, 0.138);
  margin-bottom: 0.7rem;
}

strong::before {
  content: "$";
}

.hidden {
  visibility: hidden;
}
